
  .custom{
    border-radius: 10px;
}
.socialIcons{
    float: right;
  }
@media only screen and (min-width: 450.00000000000000001px){
    

#division{

    padding-left: 35rem;
}


}
@media only screen and (max-width: 500px){

.socialIcons{
    text-align: center;
    float: left;
}
}
@media only screen and (max-width: 1030px){


    #nav{


        padding-left: 0rem;
        flex-wrap: nowrap;
    }
    
    
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
position: relative;  
}
  
  li {
float: left;    }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    margin-left: 5px ;
    margin-right: 5px ;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 3px;
  }
   ul .socialIcons li:hover{
    background-color: gray;
  }
  ul .active:hover{
    background-color: blue;
  }
  
  .active {
    background-color: gray;
  }
  .skcFont {
    text-decoration: solid;
    text-shadow: #111;
    
  }

  #body{
     background-image: linear-gradient(to bottom ,rgba(78, 14, 255, 0.712) ,rgba(255, 49, 186, 0.836)); 
}
       /* Tab content - closed */
       .tab-content {
        max-height: 0;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
        }
        /* :checked - resize to full height */
        .tab input:checked ~ .tab-content {
        max-height: 100vh;
        }
        /* Label formatting when open */
        .tab input:checked + label{
        /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
        font-size: 1.25rem; /*.text-xl*/
        padding: 1.25rem; /*.p-5*/
        border-left-width: 2px; /*.border-l-2*/
        border-color: #6574cd; /*.border-indigo*/
        background-color: #f8fafc; /*.bg-gray-100 */
        color: #6574cd; /*.text-indigo*/
        }
        /* Icon */
        .tab label::after {
        float:right;
        right: 0;
        top: 0;
        display: block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5;
        font-size: 1.25rem;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
        }
        /* Icon formatting - closed */
        .tab input[type=checkbox] + label::after {
        content: "+";
        font-weight:bold; /*.font-bold*/
        border-width: 1px; /*.border*/
        border-radius: 9999px; /*.rounded-full */
        border-color: #b8c2cc; /*.border-grey*/
        }
        .tab input[type=radio] + label::after {
        content: "\25BE";
        font-weight:bold; /*.font-bold*/
        border-width: 1px; /*.border*/
        border-radius: 9999px; /*.rounded-full */
        border-color: #b8c2cc; /*.border-grey*/
        }
        /* Icon formatting - open */
        .tab input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
        background-color: #6574cd; /*.bg-indigo*/
        color: #f8fafc; /*.text-grey-lightest*/
        }
        .tab input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
        background-color: #6574cd; /*.bg-indigo*/
        color: #f8fafc; /*.text-grey-lightest*/
        }

        .border{
            border-radius: 10px;
            border-width: 4px;
            
        }

        .accordian_cover{
background-color: white; 
border-radius: 10px;   
    }

    .accordian_big_cover{
        border-radius: 10px;

  }

  .text-base{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
font-weight: 600;
}



.typewriter{
  color: aqua;
}